*,
*::after,
*::before {
   box-sizing: border-box;
}
/* general structure of calculator */
.calculator {
   display: grid;
   margin-top: 2rem;
   grid-template-columns: repeat(4, 5rem);
   grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
   background-color: bisque;
}
/* output screen for calculation */
.output {
   grid-column: 1 / -1;
}
/* AC and total buttons */
.spanGridTwo {
   grid-column: span 3;
}
